<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-1 fw-normal">
    {{ desafio.fatorA }}
    {{ desafio.operacao }}
    {{ desafio.fatorB }}
  </h1>
  <h4 class="display-6" [ngClass]="classAcertoErro">
    {{ menssagemAcertoErro }}
  </h4>
</div>

<div class="row text-center">

  <div class="col-6 mb-3" *ngFor="let alternativa of desafio.alternativas">
    <div class="card mb-6 p-3 rounded-3 shadow-sm botao"
         (click)="jogar(alternativa)">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ alternativa }}</h1>
      </div>
    </div>
  </div>

</div>

<div class="row text-center">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Desafio</th>
      <th scope="col">Tentativa</th>
      <th scope="col">Resposta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tentativa of desafioTentativas"
        [ngClass]="tentativa.correta ? 'acertou' : 'errou'">
      <th>
        {{ tentativa.fatorA }}
        {{ tentativa.operacao }}
        {{ tentativa.fatorB }}
      </th>
      <td>{{ tentativa.resultado }}</td>
      <td>{{ tentativa.correta ? 'Acertou (-:' : 'Errou /-:' }}</td>
    </tr>
    </tbody>
  </table>
</div>
